    <div data-sticky-container>
        <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
            <div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">
                        {{title}}
                    </li>
                    <li>
                        <a href="#">کتاب</a>
                        <ul class="menu vertical">
                            <li><a href="#">جلد کتاب</a></li>
                            <li><a href="#">درباره کتاب</a></li>
                            <li><a href="#">تماس</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">فهرست</a>
                        <ul class="menu vertical">
                            <li><a href="#">جلد کتاب</a></li>
                            <li><a href="#">درباره کتاب</a></li>
                            <li><a href="#">تماس</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="top-bar-left hide-for-small-only">
                <ul class="menu">
                    <li><input type="search" placeholder="جستجو"></li>
                </ul>
            </div>
        </div>
    </div>