<!doctype html>
<html class="no-js" lang="en" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/foundation-6.3.1/css/foundation.css">
    <link data-name="vs/editor/editor.main" rel="stylesheet" href="/assets/monaco-editor/0.8.3/vs/editor/editor.main.css">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/vs.css">
</head>

<body>
    {% include "template/header.html" %}
    <div class="row">
        <div class="large-3 columns hide-for-small-only">
            {% include "template/page_content.html" %}
        </div>
        <div class="large-9 small-12 columns">
            <article>
                {% block article %}{% endblock %}
            </article>
        </div>
    </div>


    <script src="/assets/jquery/jquery-3.2.0.js"></script>
    <script src="/assets/foundation-6.3.1/js/vendor/what-input.js"></script>
    <script src="/assets/foundation-6.3.1/js/vendor/foundation.js"></script>

    <!--<script>
        var require = { paths: { 'vs': '/assets/monaco-editor/0.8.3/vs' } };
    </script>
    <script src="/assets/monaco-editor/0.8.3/vs/loader.js"></script>
    <script src="/assets/monaco-editor/0.8.3/vs/editor/editor.main.nls.js"></script>
    <script src="/assets/monaco-editor/0.8.3/vs/editor/editor.main.js"></script>-->
    <script src="/assets/unescape.js"></script>
    <!--<script src="/scripts/editor.js"></script>-->
    <script src="/scripts/code.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>